/* 400: Normal;
500: Medium;
600: Semi Bold (Demi Bold);
700: Bold;
800: Extra Bold (Ultra Bold);
900: Black (Heavy). */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Semibold.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Extrabold.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Extrabold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Black.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro/DINPro-Bold.woff") format("woff"),
    url("../fonts/DINPro/DINPro-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro/DINPro-Medium.woff") format("woff"),
    url("../fonts/DINPro/DINPro-Medium.ttf") format("truetype");
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  width: 100%;
}

li {
  list-style-type: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

main {
  overflow-x: hidden;
  padding-top: 129px;
}

.header_main {
  top: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  align-items: center;
  background: #444;
  padding: 39px 5%;
  height: 129px;
  justify-content: space-between;
}

.header_main p {
  max-width: 168px;
  color: #fff;
  font-family: Gilroy;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header_nav {
}

.header_nav ul {
  row-gap: 10px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}
.header_nav ul li{
  width: 33%;
  text-align: center;
}

.header_nav ul li a {
  text-decoration: none;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}
a:visited {
  color: unset;
}

.header_nav ul li a {
  color: #fff;
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 4px 8px;
  display: block;
  background: #8E7C71;
  margin: 0 9px;
}
.container {
  margin: 0 auto;
}
.header_logo {
  background: url(../img/header-logo.svg);
  background-size: contain;
  width: 182px;
  height: 40px;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.header_address,
.header_tel {
  display: flex;
  align-items: center;
  gap: 0;
}
.banner_main_text_btn {
  display: flex;
  padding: 20px 63px;
  width: 201px;
  height: 51px;
  background: #8e7c71;
  color: #fff;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
.header_address ul,
.header_tel ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
  padding-left: 10px;
  margin-bottom: 0;
}
.header_address ul a,
.header_tel ul a {
  text-decoration: none;
  color: #FFFFFF;
}
.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent
    url(
      data:image/svg + xml,
      %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%23000"%3e%3cpathd="M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z"/%3e%3c/svg%3e
    )
    center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}
.specialist_consult {
    display: flex;
}.specialist_description {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}.specialist_description_name {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}.specialist_description_role {
    color: #ffffff;
    display: block;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}
.container_subscribe {
  display: flex;
  width: 100%;
  margin-top: 140px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
}
.subscribe__form .form__text .phone-number a{
  text-decoration: none;
  color: #2a2e47;
}
.message,
.subscribe__form {
  font-family: Gilroy;
}
.message-row {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}
.message-wrapper {
  display: flex;
  font-variant: JIS78;
  width: 767px;
}
.container_subscribe .message {
  margin-top: 60px;
  width: 90%;
}
.container_subscribe .message {
  clip-path: polygon(
    0 0,
    90% 0,
    100% 49%,
    100% 49%,
    90% 100%,
    0 100%,
    0% 70%,
    0% 30%
  );
}
.message {
  padding: 40px;
  background-color: #2a2e47;
  background-image: linear-gradient(to top, #2c3049 0%, #3f4465 100%);
  color: #fff;
  position: relative;
  z-index: 11;
  clip-path: polygon(
    0 0,
    80% 0,
    100% 49%,
    100% 49%,
    80% 100%,
    0 100%,
    0% 70%,
    0% 30%
  );
  width: 100%;
}
.message__heading,
.message__text {
  max-width: 400px;
}
.message__heading {
  font-size: 34px;
  line-height: 50px;
  text-transform: uppercase;
}
.subscribe__message-heading {
  max-width: 540px;
  font-weight: bold;
  color: #fff;
}
.highlighted {
  color: #f73d31;
}
.message__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 20px;
  list-style-type: none;
}
.message__item {
  margin-left: 40px;
  position: relative;
  color: #fff;
  font-size: 18px;
}
.message__item::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 5px;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f73d31;
}
.container_subscribe .border-col {
  top: -30px;
}
.border-col {
  position: absolute;
  border: 11px solid #f73d31;
  border-radius: 5px;
  height: 110%;
  align-self: flex-end;
  left: 133px;
/*  width: 1100px;*/
}
.form-wrapper {
  padding: 40px 0 50px;
}
.subscribe__form {
  max-width: 80%;
}
.subscribe__heading {
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
}
.form__heading {
  font-size: 28px;
  text-align: center;
}
.subscribe__form .form__text {
  text-align: center;
  line-height: 1.5;
}
.form__text {
  margin-top: 10px;
  font-weight: 600;
}
.subscribe__form .form {
  display: flex;
  flex-direction: column;
}
.form__inner {
  margin: 30px 0 20px;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  z-index: 1;
}
.form__item {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 15px;
}
.form__input.phoneN2-popup,
.form__input.phoneN1-popup {
  width: 100%;
  padding: 7px 5px;
  max-width: 100%;
}
.form__input {
  border: 1px solid #ced3f1;
  background-color: #f7f8ff;
  border-radius: 5px;
  padding: 12px 5px;
  color: #2a2e47;
  font-size: 22px;
  max-width: 280px !important;
}
.askForm_checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.askForm_checkbox label {
  font-size: 12px;
  margin-left: 10px;
}
label {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 15px;
}
.form .button {
  z-index: 1;
}
.button {
  background-color: #f73d31;
  text-transform: uppercase;
  padding: 12.2px 20px 12.2px;
  border: none;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 3px 0px 0px #ca180d;
  transition: 0.4s ease all;
  white-space: nowrap;
  color: #ffffff;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
.header_address ul li,
.header_tel ul li {
  color: #fff;
  font-family: Gilroy;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header_btn_call {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 163px;
  height: 42px;
  border: 1.618px solid #8e7c71;
  color: #fff;
  font-family: Gilroy, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 19.421px */
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
}

.banner_main {
  height: 722px;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 1;
  display: block;
}

.banner_main_bg {
  top: -70px;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../img/banner.svg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.banner_main_img {
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  height: 646px;
}

.banner_main_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner_main_text {
  position: absolute;
  top: 113px;
  left: 178px;
  max-width: 690px;
}

.banner_main_text h1 {
  color: #fff;
  font-family: Gilroy;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 67px;
}

.banner_main_text h2 {
  margin-bottom: 21px;
  color: #fff;
  font-family: Gilroy;
  font-size: 41px;
  font-style: normal;
  font-weight: 600;
  line-height: 49px;
  /* 63.373px */
}

.banner_main_text p {
  margin-bottom: 46px;
  width: 450px;
  color: #fff;
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 36px */
}

.advantages_block {
  left: 20%;
  width: 62%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  bottom: 0;
  height: 141px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 36px 43px;
}

.advantages_block_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.advantages_block_list li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.advantages_block_list li p {
  max-width: 223px;
  color: #0A0B1D;
  font-family: Gilroy, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.garanty-icon {
  background: url(../img/garanty-icon.svg);
  height: 58px;
  width: 58px;
  position: relative;
  z-index: 1;
  display: block;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.scaners-icon {
  background: url(../img/scaners-icon.svg);
  height: 62px;
  width: 62px;
  position: relative;
  z-index: 1;
  display: block;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.tools-icon {
  background: url(../img/tools-icon.svg);
  height: 51px;
  width: 51px;
  position: relative;
  z-index: 1;
  display: block;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.container-fluid.repair {
  padding-top: 44px;
  padding-bottom: 97px;
  padding-left: 5%;
  padding-right: 5%;
}

.repair h2 {
  color: #444;
  font-family: Gilroy;
  font-size: 31px;
  font-style: normal;
  font-weight: 800;
  line-height: 137.9%;
  /* 55.16px */
  text-align: center;
  margin-bottom: 13px;
}

.repair h3 {
  color: #444;
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.9%;
  /* 41.37px */
  text-align: center;
  margin-bottom: 12px;
}

.repair p {
  margin-bottom: 27px;
  color: #444;
  text-align: center;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.9%;
  /* 27.58px */
}

.repair_list {
  display: flex;
  justify-content: space-between;
  gap: 21px;
  width: 100%;
  align-items: center;
}

.repair_list li {
  height: 317px;
  width: 542px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.repair_list li img {
  margin-bottom: 24px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.repair_list li h4 {
  text-align: center;
  color: #444;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 137.9%;
  /* 26.962px */
}

.repair_list li p {
  color: #444;
  text-align: center;
  font-family: Gilroy;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.9%;
  /* 22.013px */
}

.services {
  background: #8E7C71;
}

.container-fluid.portfolio {
  padding: 72px 5%;
}
.container-fluid.services {
  padding: 72px 5%;
}

.services h2,
.blog h2,
.select_auto h2,
.portfolio h2,
.about h2 {
  margin-bottom: 51px;
  color: #444;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  text-align: center;
}
.about h2 {
  color: #FFFFFF;
}
.services h2 {
  color: #FFFFFF;
}
.btn-mobile-menu {
  display: none;
}
.btn-mobile-menu a {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
}
.offcanvas__burger {
  font-size: 30px;
  color: #ffffff;
}
.offcanvas-start {
  top: 0;
  left: 0;
  width: 400px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(-1000px);
}
.offcanvas.show {
  transform: translateX(0px);
  transition: transform 0.7s ease-in-out;
}
.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.7s ease-in-out;
}
.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.offcanvas-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}
.offcanvas-body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}
.uk-nav-default {
  font-size: 0.875rem;
}
.uk-nav,
.uk-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.uk-nav-default {
  font-size: 0.875rem;
}
.uk-nav,
.uk-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.uk-nav-default > li > a {
  color: #999;
}
.uk-nav > li > a {
  padding: 5px 0;
}
.uk-nav li > a {
  font-family: Gilroy;
  display: block;
  text-decoration: none;
}
.uk-nav-default > li > a {
  color: #999;
}
.uk-nav > li > a {
  padding: 5px 0;
}
.uk-nav li > a {
  display: block;
  text-decoration: none;
}
.btn-mobile-menu a {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
}
.services_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  padding-left: 0;
}

.services_list li {
  width: 191px;
  height: 183px;
  margin-right: 18px;
  margin-left: 18px;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 32px 59px 48px 59px;
}
.services_list li img {
  width: 85%;
  max-width: 70px;
}

.services_list li p {
  color: #444;
  text-align: center;
  font-family: Gilroy;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  margin-top: 10px;
}

.container-fluid.about {
  padding: 72px 5%;
  background: #8E7C71;
}

.container-fluid.select_auto {
  padding: 72px 5%;
}

.container-fluid.blog {
  padding: 72px 5%;
}

.about_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
}

.blog_list {
  margin-bottom: 39px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.blog_list li {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  width: 23%;
  border: 1px solid #E5E1E1;
}

.blog_list li img {
  width: auto;
  height: 225px;
  object-fit: cover;
  margin-bottom: 20px;
}

.blog_list li h3 {
  color: #444;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 15px;
  padding: 0 20px;
}

.blog_list li p {
  margin-bottom: 27px;
  color: #444;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 0 20px;
}

.blog_list li a {
  color: #8e7c71;
  font-family: Gilroy;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 0 20px 32px;
  text-decoration-line: underline;
}

.load_more_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog_load_more_btn {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 201px;
  height: 51px;
  border-radius: 16px;
  border: 2px solid #444;
  color: #444;
  font-family: Gilroy, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 24px */
  text-transform: uppercase;
}

.select_auto_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 64px;
}

.select_auto_list li {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 0 20px;
  background: #8E7C71;
  border-radius: 5px;
}

.select_auto_list li img {
  width: 239px;
}

.select_auto_list li p {
  color: #FFF;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 137.9%;
}

.loading {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.loading_bar {
  width: 400px;
  background: #f9f9f9;
  height: 20px;
}

.loading_block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;
}

.back_btn {
  border: none;
  width: 321px;
  height: 54px;
  background: #8e7c71;
  color: #FFF;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  text-transform: uppercase;
}

.submit_btn {
  width: 252px;
  height: 64px;
  background: #8e7c71;
  border: none;
  color: #FFF;
  font-family: Gilroy;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  text-transform: uppercase;
}

.portfolio__slider{
  position: relative;
}
.portfolio__slider .slider-item {
  display: flex !important;
  justify-content: center;
  gap: 53px;
}
.portfolio__slider .slick-arrow{
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
  z-index: 2;
  font-size: 0;
  width: 59px;
  height: 59px;
  border: none;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portfolio__slider .slick-arrow.slick-prev{
  left: -70px;
  z-index: 10;
  background-image: url("../img/btn-prev.png");
}

.portfolio__slider .slick-arrow.slick-next{
  right: -59px;
  z-index: 10;
  background-image: url("../img/btn-next.png");
}

.slider-item img {
  width: 546px;
  height: 409px;
  object-fit: cover;
  object-position: center;
}

.slider_item_consult {
  display: flex;
  gap: 53px;
}

.slider_item_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider_item_text h3 {
  color: #444;
  font-family: Gilroy;
  font-size: 27px;
  font-style: normal;
  font-weight: 800;
  line-height: 137.9%; /* 48.265px */
}
.slider_item_text h4 {
  color: #444;
  font-family: Gilroy;
  font-size: 19px;
  font-style: normal;
  font-weight: 800;
  line-height: 137.9%; /* 33.096px */
}
.slider_item_text p {
  max-width: 691px;
  color: #444;
  font-family: Gilroy;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}
.slider_item_consult span {
  color: #444;
  font-family: Gilroy;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 137.9%; /* 26.201px */
}
.slider-item p {
  margin-bottom: 49px;
}

.container-fluid.why {
  padding: 72px 5%;
}
.why {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.why_left {
  width: 38%;
}
.why_right {
  width: 57%;
}
.why_left,
.why_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.why_left ul {
  display: flex;
  flex-wrap: wrap;
  gap: 39px;
}

.why_left ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 45%;
  height: auto;
  margin-bottom: 38px;
}

.why_left ul li img {
  width: 214px;
  height: 100%;
  object-fit: contain;
  margin-top: -35px;
}

.why_left ul li h3 {
  margin-bottom: 22px;
  color: #212529;
  font-family: Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 137.9%;
}

.why_left ul li a {
  color: #8e7c71;
  font-family: Gilroy;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-decoration-line: underline;
}

.vk-icon {
  background: url(../img/vk-icon.svg);
  height: 113px;
  width: 113px;
  z-index: 1;
  display: block;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  left: -100px;
}

.social_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 72px 44px 72px;
  width: 90%;
  height: 160px;
  background: transparent;
  border: 7px solid #8E7C71;
  margin-left: 10%;
  position: relative;
}

.social_block_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.social_block_text h3 {
  margin-bottom: 12px;
  color: #444;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 24px */
}

.social_block_text p {
  width: 324px;
  color: #444;
  font-family: Gilroy;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 22.8px */
}

.why_right_list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 45px;
  padding-left: 0;
}

.why_right_list li {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #e5e1e1;
  background: #8E7C71;
  min-height: 159px;
}
.why_left h2,
.why_right h2 {
  margin-bottom: 60px;
  color: #212529;
  font-family: Gilroy;
  font-size: 31px;
  font-style: normal;
  font-weight: 800;
  line-height: 137.9%; /* 55.16px */
}
.why_right_list li img {
  display: block;
  object-fit: contain;
  width: 20%;
  height: auto;
  margin-left: -4%;
}
.why_right_list li h3 {
  color: #FFFFFF;
  font-family: Gilroy;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 32.581px */
}
.why_right_list li p {
  max-width: 636px;
  color: #FFFFFF;
  font-family: Gilroy;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 29.323px */
  width: 100%;
}
.why_right_item_text {
  flex-direction: column;
  display: flex;
}

.why_right_item_text h3 {
  color: #444;
  font-family: Gilroy;
  font-size: 27.151px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 21px;
}

.why_right_item_text p {
  width: 636px;
  color: #444;
  font-family: Gilroy;
  font-size: 24.436px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.about_list {
  margin-bottom: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}

.about_list_item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.brown-rectangle-icon {
  background: #8e7c71;
  width: 37px;
  height: 37px;
}

.about_list_item p {
  padding-left: 33px;
  width: 100%;
  color: #FFFFFF;
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.9%;
  border-left: 6px solid #FFFFFF;
}

.cincerely {
  max-width: 673px;
  color: #FFFFFF;
  font-family: Gilroy;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 137.9%;
  /* 41.37px */
}

.about_container_right img {
  width: 566px;
  height: 440px;
  object-fit: cover;
}

.contacts {
  display: flex;
  width: 100%;
}

.additional_services {
  padding-left: 0;
}

.additional_services_img {
  margin-bottom: 33px;
  position: relative;
  width: 100%;
  height: 159px;
  background: #8E7C71;
  display: flex;
  justify-content: center;
}

.additional_services li p {
  margin-bottom: 17px;
  color: #444;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.contacts_left {
  background: #8E7C71;;
  width: 759px;
  padding: 55px 124px;
}

.contacts_left h2 {
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 30px;
}

.footer_contacts_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}

.footer_contacts_list li {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer_contacts_list_item_text {
  display: flex;
  flex-direction: column;
}

.footer_contacts_list_item_text h3 {
  color: #fff;
  font-family: Gilroy, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 900;
  line-height: 184%;
  /* 39.632px */
  margin-bottom: 10px;
}

.footer_contacts_list_item_text p {
  color: #fff;
  font-family: Gilroy, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.white_square_icon {
  width: 27px;
  height: 27px;
  /*background: #fff;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.pin-icon {
  width: 27px;
  height: 27px;
  background: url(../img/pin-icon.svg);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.email-icon {
  width: 27px;
  height: 27px;
  background: url(../img/email.svg);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.calendar-icon {
  width: 27px;
  height: 27px;
  background: url(../img/calendar-icon.svg);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer_contacts_list_text h3 {
  color: #fff;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.footer_contacts_list_text p {
  color: #fff;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contacts_right {
  width: 100%;
}
.nav__contacts.trubka {
  display: none;
}
.fa-phone:before {
  content: "\f095";
}
.phone-icon {
  width: 34px;
  height: 34px;
  background: url(../img/phone-icon.svg);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.slick-dots li button{
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background: black;
  border: none;
}
.close-popup_perezvon {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 2200;
  transition: opacity .1s ease-out;
  cursor: pointer;
  top: 2px;
  right: -2px;
  text-decoration: none;
  color: #444444;
}
@media (max-width: 1822px) {
  .select_auto_list li img {
    width: 230px;
  }
  .select_auto_list {
    gap: 25px;
  }
}

@media (max-width: 1536px) {
  .banner_main_text {
    left: 5%;
  }
  .banner_main_text h1 {
    font-size: 56px;
  }
  .banner_main_text p {
    font-size: 24px;
  }
}
@media (max-width: 1400px) {
  .social_block {
    padding: 44px 50px;
  }
  .slider-item img {
    width: 450px;
    height: 450px;
  }
  .header_nav ul li a {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .additional_services {
    justify-content: space-around;
  }
  .why {
    flex-direction: column;
  }
  .why_left {
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }
  .why_right {
    width: 100%;
    align-items: center;
  }
  .social_block {
    width: 50%;
  }
  .slider-item img {
    width: 45%;
  }
  .slider_item_text {
    width: 45%;
  }
  .slider_item_text h3 {
    font-size: 24px;
  }
  .slider_item_text p {
    font-size: 18px;
  }
  .about_container {
    flex-direction: column;
  }
  .about_container_right {
    margin: 30px auto 0;
  }
  .contacts_left {
    padding: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .header_nav,
  .header_address,
  .header_tel,
  .header_main p {
    display: none;
  }
  .nav__contacts.trubka a i {
    color: #fff;
  }
  .nav__contacts.trubka {
    display: block;
  }
  .btn-mobile-menu {
    display: block;
  }
}
@media (max-width: 991px) {
  .border-col {
    display: none;
  }
  .why {
    padding: 38px;
    flex-direction: column;
    align-items: flex-start;
  }
  .why_right_list li {
    width: 100%;
  }
  .slider-item img, .slider_item_text {
    width: 100%;
  }
  .vk-icon {
    width: 100px;
    height: 100px;
    left: -70px;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .slider-item {
    flex-direction: column;
  }
  .about_container {
    flex-direction: column;
  }
  .repair {
    padding: 38px;
  }
  .message-row {
    justify-content: center;
  }
  .subscribe__form {
    max-width: 100%;
  }
  .services, .portfolio {
    padding: 38px;
  }
  .subscribe_block {
width: 80%;
  }
  .select_auto_list {
    gap: 10px;
  }
  .select_auto_list li img {
    width: 200px;
    object-fit: contain;
  }
  .social_block {
    margin-bottom: 51px;
  }
  .why_right_item_text {
    width: 470px;
  }
  .why_right_list li {
    gap: 20px;
    flex-direction: row;
  }
  .why_right_list li p {
    max-width: 100%;
    width: 100%;
  }
  .header_main {
    padding: 39px 38px;
  }
  .banner_main_text {
    position: absolute;
    top: 38px;
    left: 38px;
    max-width: 690px;
  }
  .advantages_block {
    left: 38px;
    width: 91%;
  }
  .blog,
  .select_auto,
  .about {
    padding: 40px 38px;
  }
  .banner_main_text {
    position: absolute;
    top: 38px;
    left: 38px;
    max-width: 690px;
  }
  .advantages_block {
    left: 38px;
    width: 92%;
  }
}
@media only screen and (max-width: 767px) {
  .container_subscribe {
    max-width: 100% !important;
    padding: 0 20px;
    margin-top: 31px;
    margin-bottom: 31px;
  }
  .message-row {
    flex-direction: column;
    left: 0;
  }
  .message,
  .container_subscribe .message {
    flex-direction: column;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 80%, 50% 100%, 0% 80%, 0% 30%);
    padding: 5px 10px 80px;
    justify-content: space-between;
  }
  .message-wrapper {
    width: 100%;
    justify-content: center;
  }

  .message__heading {
    font-size: 27px;
  }
  
  .form-wrapper {
    width: 100%;
    max-width: 100%;
    padding: 40px 20px 50px;
    background-color: #dce0f9;
    margin: 30px auto 0;
    border-radius: 15px;
}
  main {
    padding-top: 64px;
  }

  .blog,
  .select_auto,
  .about,
  .services,
  .portfolio,
  .why {
    padding: 52px 20px;
  }

  .why_left,
  .why_right {
    gap: 20px;
  }
  .blog_list {
    margin-bottom: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 23px;
    flex-direction: column;
  }
  .banner_main_text_btn {
    width: 100%;
  }
  .advantages_block {
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    bottom: 0;
    height: unset;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 36px 20px;
  }
  .banner_main_text {
    top: 0;
  }
  .advantages_block_list {
    gap: 20px;
  }
  .advantages_block_list li {
    width: 100%;
  }
  .banner_main_text p {
    width: 100%;
  }
  .banner_main {
    height: 100%;
  }
  .blog_list li {
    width: 100%;
    height: 448px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog_list li img {
    width: 100%;
    height: 100%;
  }
  .banner_main_text {
    height: 100%;
  }
  .repair_list {
    flex-direction: column;
  }
  .social_block {
    margin-bottom: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
    height: 100%;
    gap: 20px;
    background: #f6f6f6;
    flex-direction: column;
  }
  .social_block_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .social_block_text p {
    width: 100%;
  }

  .contacts {
    flex-direction: column;
  }
  .contacts_left {
    background: #444;
    width: 100%;
    padding: 55px 24px;
  }

  .portfolio .slider-item {
    display: flex;
    gap: 53px;
    flex-direction: column;
  }
  .why_right_list li img {
    margin-bottom: 27px;
    margin-right: 0 !important;
  }
  .header_main {
    gap: unset;
    height: 64px;
    width: 100%;
    padding: 10px 20px;
  }
  .about_container {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header_btn_call {
    display: none;
  }
  .header_btn_call_mobile {
    display: block;
    background: url(./img/call-icon-mobile.svg);
  }
  .slider-item img {
    width: 100%;
    height: auto;
  }
  .banner_main_bg,
  .banner_main_img {
    display: none;
  }
  .advantages_block_list {
    flex-direction: column;
  }
  .repair {
    padding: 70px 20px;
  }
  .banner_main_text {
    padding: 40px 20px;
    color: #2a2e47;
  }
  .why_right_list li {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .why_right_item_text p {
    width: 100%;
    max-width: 100%;
  }
  .about_list_item p {
    padding-left: 33px;
    max-width: 100%;
  }

  .banner_main_text {
    height: 100%;
    position: relative;
    left: 0;
    max-width: 690px;
  }
  .banner_main_text h1,
  .banner_main_text h2,
  .banner_main_text p {
    color: #2a2e47;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
  }
  .services_list li {
    width: 100%;
  }
  .loading {
    flex-direction: column;
  }
  .about_container_right img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .slider_item_consult {
    flex-direction: column;
    width: 100%;
  }
  .slider_item_consult .submit_btn {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .services_list, .select_auto_list, .blog_list {
    padding-left: 0;
  }
  .services h2, .blog h2, .select_auto h2, .portfolio h2, .about h2, .why_left h2, .why_right h2 {
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 35px;
  }
  .why_left h2, .why_right h2 {
    text-align: center;
  }
  .why_left ul li {
    width: 100%;
  }
  .vk-icon {
    width: 50px;
    height: 50px;
    left: -26px;
  }
  .social_block {
    margin-left: 0;
  }
  .why_right_list li h3 {
    font-size: 21px;
  }
  .why_right_list li p {
    font-size: 18px;
  }
  .about_list_item p {
    font-size: 18px;
  }
  .cincerely {
    font-size: 16px;
  }
  .message__item {
    margin-left: 0;
  }
  .message__heading,
  .message__text {
    max-width: 100% !important;
  }
  .nav__contacts.trubka {
    padding-right: 0;
  }
  .nav__contacts.trubka a i {
    font-size: 34px !important;
  }
  .why_left, .why_right {
    width: 100%;
  }
  .why_right_list li img {
    width: 90%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

}
